<form name="signupForm" action="/auth/signup" method="POST">
    <input type="email" name="email" placeholder="Input your e-mail">
    <input type="text" name="name" placeholder="Input your name">
    <input type="password" name="password" placeholder="Choose security password">

    <button>Sign up!</button>
</form>