<form action="/auth/signin" method="POST">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="password">

    <button>Sign in!</button>
</form>